.header1 {
    font-size: 12px;
    color: #726f6f;
    font-weight: 600;
}

.offerSpan {
    font-size: 26px;
    font-weight: 600;
    font-family: Helvetica;
    color: #2f2f2f;
    background-color: yellow;
}

.heading {
    font-size: 34px;
    font-weight: 600;
    font-family: Helvetica;
    color: #2f2f2f;
}

.subHeading {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica;
    color: white;
}

.button1 {
    background-color: rgb(235 11 11);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.floatingContent {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-40%) translateY(-45%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 60%;
    max-width: 350px;
    padding: 20px;
}

.mainDiv {
    display: flex;
    padding: 20;
    align-items: center;
}

.productTitle {
    font-size: 15px;
    font-weight: 650;
    margin-left: 4%
}

.productContent {
    display: flex;
    flex-direction: column;
    gap: 5;
    margin-top: 1%
}

.offerImag {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%
}