.brandImg {
    filter: grayscale(100%);
    width: 40%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 2%;
}

.brandName {
    font-size: 13px;
    color: #726f6f;
    margin-bottom: 10px;
}